<div class="aboutContainer">
  <div class="about">
    <div class="left">
      <div class="title">A bit about me</div>
      <div class="body">
        <div>
          I'm Hemraj K Shettigar, a <span>frontend web developer</span> with
          expertise in <span>ReactJS</span>, <span>Angular</span> and
          <span>NodeJS</span>. I have a strong passion for crafting
          <span>captivating user interfaces</span> that combine beautiful design
          with <span>seamless functionality</span>. Through clean and elegant
          code, I bring designs to life and create
          <span>engaging web experiences</span>.
        </div>
      </div>
    </div>
    <div class="right">
      <img src="../../assets/images/1.jpeg" alt="coding" />
      <div>
        <img src="../../assets/images/2.jpg" alt="coding" />
        <img src="../../assets/images/3.jpg" alt="coding" />
      </div>
    </div>
  </div>
</div>
