<div class="workContainer">
  <div class="work">
    <div class="title"><span>Selected</span> Works</div>
    <div class="body">
      <div
        *ngFor="let workItem of workItems; let i = index"
        class="container"
        [ngClass]="{ even: i % 2 === 0, odd: i % 2 !== 0 }"
      >
        <img [src]="workItem.image" alt="Image" />
        <div class="right">
          <div class="projectName">{{ workItem.name }}</div>
          <div
            class="projectDescription"
            [innerHTML]="workItem.description"
          ></div>
          <div class="projectType">{{ workItem.type }}</div>
          <a [href]="workItem.link" target="_blank"
            >View Work <i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
        <hr style="width: 100%; opacity: 0.2" />
      </div>
    </div>
  </div>
</div>
